    <%= form_for(plugin) do |f| %>
       <% if plugin.errors.any? %>
   <div class ="alert alert-warning">
     <ul>
         <% plugin.errors.full_messages.each do |plugin| %>
         <li><%= plugin %></li>
         <% end %>
     </ul>
   </div>
       <% end %>

    <div class='form-group'>
     <%= f.label :plugin_name,'プラグインの名前' %>
     <%= f.text_field :plugin_name,class: 'form-control'%>
    </div>

    <div class='form-group'>
     <%= f.label :price,'プラグインを買った値段' %>
     <%= f.text_field :price,class: 'form-control'%>
    </div>

    <div class='form-group'>
     <%= f.label :company,'プラグインのメーカー' %>
     <%= f.text_field :company,class: 'form-control'%>
    </div>

    <div class='form-group'>
     <%= f.label :description,'プラグインの説明' %>
     <%= f.text_field :description,class: 'form-control'%>
    </div>

    <div class='form-group'>
     <%= f.label :content,'プラグインのTips' %>
     <%= f.text_field :content,class: 'form-control'%>
    </div>

    <div class='form-group'>
     <%= f.label :link_url,'このプラグインの公式サイト' %>
     <%= f.text_field :link_url,class: 'form-control'%>
    </div>

    <div class='form-group'>
     <%= f.label :picture,'プラグインのImage' %>
     <%= f.file_field :picture,class: 'form-control'%>
    </div>

    <div class='form-group'>
        <!--データを入れるインスタンス変数を書く-->
        <%= f.label :plugin_kind_id,'プラグインの種類' %>
      <p class="text-black">
        <%= f.collection_select :plugin_kind_id,PluginKind.all,:id, :name %>
      </p>
    </div>


      <%= button_tag( class: "btn btn-primary") do %>
        <%= content_tag :span, "Add", class: "glyphicon glyphicon-ok" %>
      <% end %>
  <% end %>



