<h1><%= @plugin.plugin_name %></h1>
<table class="table table-bordered">
  <aside>
    <div class="text-center">
      <div class="plugin-image">
        <%=image_tag(@plugin.picture_url,class: "img-responsive")if @plugin.picture.present? %>
      </div>
    </div>
  </aside>
  <tr>
    <th>プラグインの名称</th>
    <td><%=@plugin.plugin_name %></td>
  </tr>
  <tr>
    <th>プラグインの種類</th>
    <td><%= @plugin.plugin_kind.name%></td>
  </tr>
  <tr>
    <th>プラグインを買った値段</th>
    <td><%=@plugin.price %></td>
  </tr>
  <tr>
    <th>プラグインのメーカー</th>
    <td><%=@plugin.company %></td>
  </tr>
  <tr>
    <th>プラグインの説明</th>
    <td><%=@plugin.description %></td>
  </tr>
  <tr>
    <th>このプラグインのTips</th>
    <td><%=@plugin.content %></td>
  </tr>
   <tr>
    <th>Official-Site</th>
    <td><%=link_to @plugin.company,@plugin.link_url %></td>
  </tr>
</table>
  <%= link_to 'Edit(StaffOnly)',edit_plugin_path,class: 'btn btn-primary',class: 'glyphicon glyphicon-wrench' %>








