<div class="text-center">
  <h1 class="display-4">Plugin-Manager</h1>
  <hr class="my-4">
   <p class="lead"></p>
  　    <%=link_to 'Plugins',select_plugin_kinds_path,class: 'btn btn-primary btn-lg' %>
     　<%=link_to 'Instruments',select_instrument_kinds_path,class: 'btn btn-primary btn-lg'%>
  <hr class="my-4">
      <div>
        <p>Created by Hiroki Nagamine</p>
        <%=link_to 'Profile',profile_path,class: 'btn btn-primary' %>
      </div>
        <p>Contact</p> 
      <div>
        <%=link_to 'Soundcloud','https://soundcloud.com/delay0906',class: 'btn btn-default' %>
        <%=link_to 'Facebook','https://www.facebook.com/hiroki.nagamine.9',class: 'btn btn-default' %>
        <%=link_to 'Twitter','https://twitter.com/hiroki_nagamine',class: 'btn btn-default' %>
      </div>
 </div>
