<div class= "main-container">
  <div class="center jumbotron">
    <div class="text-center">
     <h1>Select Instruments Category</h1>
       <ul>
         <li> <%=link_to 'Synthsizer',plugins_path,class: 'btn btn-primary' %></li>
         <li><%=link_to 'Piano',plugins_path,class: 'btn btn-primary' %></li>
         <li><%=link_to 'Guitar',plugins_path,class: 'btn btn-primary' %></li>
         <li><%=link_to 'Strings',plugins_path,class: 'btn btn-primary' %></li>
         <li><%=link_to 'Wind','https://soundcloud.com/delay0906',class: 'btn btn-primary' %></li>
         <li><%=link_to 'Other-Instruments','https://soundcloud.com/delay0906',class: 'btn btn-primary' %></li>
       </ul>
    </div>
  </div>
</div>