<div class= "main-container">
  <div class="center jumbotron">
    <div class="text-center">
     <h1>Select plugin Category</h1>
       <ul>
         <li> <%=link_to 'Equalizer',plugins_path,class: 'btn btn-primary' %></li>
         <li><%=link_to 'Compressor',plugins_path,class: 'btn btn-primary' %></li>
         <li><%=link_to 'Limiter',plugins_path,class: 'btn btn-primary' %></li>
         <li><%=link_to 'Delay&Reverb',plugins_path,class: 'btn btn-primary' %></li>
         <li><%=link_to 'Moduler','https://soundcloud.com/delay0906',class: 'btn btn-primary' %></li>
         <li><%=link_to 'Other-Plugins','https://soundcloud.com/delay0906',class: 'btn btn-primary' %></li>
       </ul>
    </div>
  </div>
</div>