<h1><%= @instrument.instrument_name %></h1>
<table class="table table-bordered">
  <aside>
    <div class="text-center">
      <div class="instrument-image">
        <%=image_tag(@instrument.picture_url,class: "img-responsive")if @instrument.picture.present? %>
      </div>
    </div>
  </aside>
  <tr>
    <th>ソフトシンセの名称</th>
    <td><%=@instrument.instrument_name %></td>
  </tr>
   <tr>
    <th>ソフトシンセの種類</th>
    <td><%=@instrument.instrument_kind.name%></td>
  </tr>
  <tr>
    <th>ソフトシンセを買った値段</th>
    <td><%=@instrument.price %></td>
  </tr>
  <tr>
    <th>ソフトシンセのメーカー</th>
    <td><%=@instrument.company %></td>
  </tr>
  <tr> 
    <th>ソフトシンセの説明</th>
    <td><%=@instrument.description %></td>
  </tr>
  <tr>
    <th>このソフトシンセのTips</th>
    <td><%=@instrument.content %></td>
  </tr>
   <tr>
    <th>Official-Site</th>
    <td><%=link_to @instrument.company,@instrument.link_url %></td>
  </tr>
</table>
  
  
<%= link_to 'Edit(StaffOnly)',edit_plugin_path,class: 'btn btn-primary',class: 'glyphicon glyphicon-wrench' %>



